# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Environnements virtuels =====
venv/
.env
.env/
.env.*

# ===== Flask =====
instance/
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Tests / coverage =====
.pytest_cache/
.coverage
htmlcov/

# ===== SQLite (si utilisé) =====
*.sqlite3