body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.ecran {
    display: flex;
    height: 100%;
    width: 100%;
}


.carte {
    flex: 3;
    height: 100vh; 
    display: flex;
    padding: 0;     
}



.zone-liste {
    flex: 1;
    background-color: #333; 
    color: white;
    display: flex;
    flex-direction: column;
}

.zone-liste h2 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #222;
    border-bottom: 1px solid #444;
}


.liste-salles {
    flex: 1;           
    overflow-y: auto;  
    padding: 10px;
}

.salle {
    background-color: #444;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.salle:hover {
    background-color: #555; 
}

.selecteur-double {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    background-color: #222; 
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
    gap: 20px;
    z-index: 10;
    border: 1px solid #444; 
}

.colonne-etage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nom-cour{
    font-size: 0.65em;
    font-weight: bold;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-etage {
    width: 38px;
    height: 38px;
    border: 1px solid #444;
    background-color: #333;
    color: #eee;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
}


.btn-etage:hover:not(.active) {
    background-color: #555;
    border-color: #666;
}

.btn-etage.active {
    background-color: #3498db; 
    color: white;
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); 
}

.vide {
    width: 38px;
    height: 38px;
}

.carte {
    position: relative;
    background-color: #f8f9fa;
}

.barre-recherche {
    padding: 15px;
    background-color: #222;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #444;
}

#input-recherche {
    flex: 1; 
    background-color: #444;
    border: 1px solid #555;
    border-radius: 20px; 
    padding: 10px 15px;
    color: white;
    outline: none;
    font-size: 0.9em;
    transition: border-color 0.3s;
}

#input-recherche:focus {
    border-color: #3498db; 
}
